*{
    margin: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    background-color: aliceblue;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
}


nav h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-transform: uppercase;
}

body{
    background-color: #013a63;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
    width: 100%;
    min-width: 300px;
    border-radius: 12px;
    padding: 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-control{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 2px solid #013a63;
    justify-content: space-between;
    align-items: center;
}

label{
    font-size: 18px;
    font-weight: 500;
}

#password{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    margin-bottom: 20px;
}

input#password-length{
    width: 25%;
}

#button-submit{
    padding: 10px;
    margin-top: 25px;
    border-radius: 8px;
    background: none;
    border: 2px solid #1a759f;
    background-color: #1a759f;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#button-submit:hover{
    border: 2px solid #013a63;
    background-color: #013a63;
    transform: translateY(-5px);
    transition: 0.1s;
}
